body{
   margin: 0px;
   padding: 0px;
   background: url('../img/Group.png') no-repeat;
   background-size: cover;
   background-color: rgba(34, 32, 33, 1);
   
}

ul{
   list-style: none;
}

a{
   text-decoration: none;
   color: rgba(245, 245, 245, 1);
}

p{
   margin: 0px;
}
/* header */
.header{
   height: 1000px;
}

.header::after{
   content: "";
   background: url('../img/header-bg.png');
   background-repeat: no-repeat;
   opacity: 0.5;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;   
}

.header ul{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   padding: 0px;
   gap: 57px;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
}

.main{
   display: flex;
   justify-content: flex-end;
}

.main-info{
   background-color: #1E0C06;
   border-radius: 43px 0px 0px 43px;
   filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
   display: flex;
   width: 70%;
   height: fit-content;
}

.main-info-title{
   font-style: normal;
   font-weight: 500;
   font-size: 90px;
   line-height: 115.4%;
   text-transform: uppercase;
   margin: 0px;
}

.main-item{
   display: flex;
   flex-direction: column;
   flex-basis: 600px;
   gap: 20px;
   padding: 75px 50px 100px;
}

.main-item button{
   background: #728BAD;
   border-radius: 42px;
   border: none;
   width: 225px;
   height: 58px;
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   color: #F5F5F5;
}

.main-line{
   margin: 0px;
   height: 500px;
}

.main-image{
   display: flex;
   flex-direction: column;
   flex-basis: 50%;
   justify-content: space-evenly;
   padding-left: 30px;
   padding-right: 30px;
}

.image {
   display: flex;
   align-self: flex-end;
}

/* work-with-wood */
.work-with-wood {
   margin: 0px;
}

.work-with-wood h2{
   display: flex;
   flex-wrap: wrap;
   width: 740px;
   font-weight: 500;
   font-size: 90px;
   text-transform: uppercase;
   margin: 0px;
   margin-left: 240px;
   margin-bottom: 100px;
}

.list-wood {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 160px;
}

.list-wood-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.list-wood-item p{
   font-weight: 700;
   font-size: 30px;
   color: #F5F5F5;
   padding-top: 40px;
}

.list-wood-item li{
   font-family: 'fontForMainText';
   font-weight: 500;
   font-size: 30px;
   color: #F5F5F5;
   padding-bottom: 30px;
   list-style: url('../img/twemoji_check-mark.png');
}

.list-wood-item li:last-child{
   list-style: url('../img/maki_cross.png');
}


/* our-work */

.our-work img{
   width: 1130px;
   height: 754px;
}

.our-work{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.advantages-working-with-us{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 270px;
   margin-bottom: 300px;
}

.advantages-working-with-us div{
   display: flex;
   gap: 120px;
   margin-bottom: 120px;
} 

.advantages-working-with-us h2{
   width: 50%;
}

.working-description{
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.advantages-working-with-us button{
   background: #728BAD;
   border-radius: 42px;
   border: none;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: #F5F5F5;
   padding: 11px 70px;
}

.about-us{
   background-color: #1E0C06;
   border-radius: 0px  43px 43px 0px ;
   filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
   display: flex;
   width: 70%;
   height: fit-content;
}

.about-us-item{
   display: flex;
   gap: 60px;
}

.about-us-description{
   display: flex;
   width: 520px;
   flex-direction: column;
   padding-left: 250px;
   padding-bottom: 250px;
}

.about-us-img{
   position: relative;
}

.top{
   position: absolute;
   left: 270px;
   top: 40px;
}

.bottom{
   position: absolute;
   left: 270px;
   bottom: 100px;
}

.center{
   position: absolute;
   top: 100px;
}

